div#floated {
    float: right;
    width: 25%;
    border: 2px solid black;
    margin: auto;
    padding: 10px;
    text-align: center;
}

div#center-horz {
    margin: auto;
    width: 25%;
    border: 2px solid black;
    margin: auto;
    padding: 10px;
    text-align: center;
}

div#center-img {
    margin: auto;
    width: 30%;
    text-align: center;
}

div#center-both {
     margin: auto;
     width: 30%;
     display: flex;
     justify-content: center;
}

div#content {
    border-style: dotted dashed solid double;
    border-color: cornflowerblue;
}

div.purpose {
    padding: 25px;
    width: 400px;
    background-color: bisque;
    border-style: inset;
    margin: 10px 10px 10px 10px;
    height: auto;
    width: 30%;
}

div.challenges {
    padding: 25px;
    width: 400px;
    background-color: bisque;
    border-style: inset;
    margin: 10px 10px 10px 10px;
    height: auto;
    width: 30%;
}

div.results {
    padding: 25px;
    width: 400px;
    background-color: bisque;
    border-style: inset;
    margin: 10px 10px 10px 10px;
    height: auto;
    width: 30%;
}

h1, h2, h3 {
    font-family: 'Sansita Swashed', cursive;
    color: crimson;
}

div.results h2 {
  font-family: 'Lora', serif;
  text-transform: uppercase;
}

div.challenges h2{
      letter-spacing: 8px;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

nav#links {
    position: sticky;
    top: 0px;
    border: 3px;
    display: inline-block;
}
